<launch>

    <include file="$(find sunwenbin_practices)/launch/simulation_one_robot_back.launch">
    </include>

    <include file="$(find sunwenbin_practices)/launch/laserscanvisual.launch">
    </include>

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<param name="port" value="9090"/>
	</include>

</launch>
